<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @member_status.name %>
</p>

<%= link_to 'Edit', edit_member_status_path(@member_status) %> |
<%= link_to 'Back', member_statuses_path %>
