<div class="navbar-fixed">
  <nav role="navigation">
    <div class="nav-wrapper white-text">
      <%= link_to "Lab Companion", root_path, class: "brand-logo" %>
      <a href="#" id="sidenav" data-active="slide-out" data-turbolinks="false" class="button-collaps show-on-large">
        <i class="material-icons">menu</i>
      </a>
    </div>
    <ul class="right hide-on-med-and-down">
      <li>Dummy_link</li>
    </ul>
  </nav>
</div>