<table class="highlight centered dataTable no-footer">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Writer</th>
    </tr>
  </thead>

  <tbody>
    <% if @todos.length == 0 %>
      <tr>
        <td colspan=3 class="centerd">There is no todos<td>
      </tr>
    <% else %>
      <% @todos.each do |todo| %>
        <tr>
          <td><%= todo.title %></td>
          <td><%= truncate(todo.content) %></td>
          <td><%= todo.member.name %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
