<div class="container">
  <h1 id="lab-companion">About Lab companion</h1>
  <div class="divider"></div>
  <h3 id="description">Description</h3>
  <p>This web application assist to manage your laboratory management.
    Now you can use the following functions on this application.</p>
  <ol>
    <li>Laboratory room member management</li>
    <li>Posting the page any topic</li>
    <li>Managing your todo</li>
  </ol>
  <p>In the future, we will provide following functions on this application.</p>
  <ol>
    <li>File storage</li>
    <li>Calender</li>
    <li>Laboratory&#39;s event notification</li>
    <li>Customizing the laboratory members icon</li>
  </ol>

  <h3>Version</h3>
  <p>Alpha 1.0</p>

  <h3>Contributing</h3>
  <p>
    This applicaiton is open-source. See the github repository of this project.<br />
    <%= link_to "Lab-Companion", "https://github.com/Danboruya/lab-companion" %>
  </p>
  <br />
</div>