<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @member_grade.name %>
</p>

<%= link_to 'Edit', edit_member_grade_path(@member_grade) %> |
<%= link_to 'Back', member_grades_path %>
