<div class="parallax-container">
  <div class="parallax">
    <%= image_tag "wellcome_wallpaper.jpg" %>
  </div>
</div>
<div class="section white">
  <div class="raw containter">
    <h2>Wellcome to Lab Companion</h2>
    <p class="grey-text text-darken-3 lighten-3">
      This application assist to your laboratory management.
    </p>
  </div>
</div>