<!--
 ___       _                        _   ____                             _____                                 __
|_ _|_ __ | |_ ___ _ __ _ __   __ _| | / ___|  ___ _ ____   _____ _ __  | ____|_ __ _ __ ___  _ __    __  __  / /
 | || '_ \| __/ _ \ '__| '_ \ / _` | | \___ \ / _ \ '__\ \ / / _ \ '__| |  _| | '__| '__/ _ \| '__|   \ \/ / | |
 | || | | | ||  __/ |  | | | | (_| | |  ___) |  __/ |   \ V /  __/ |    | |___| |  | | | (_) | |       >  <  | |
|___|_| |_|\__\___|_|  |_| |_|\__,_|_| |____/ \___|_|    \_/ \___|_|    |_____|_|  |_|  \___/|_|      /_/\_\ | |
                                                                                                              \_\
-->
<div class="container-fluid pt-3" style="padding-top: 4rem">
  <div class="row">
    <div class="col s10 offset-s1">
      <div class="card">
        <div class="card-content">
          <span class="card-title center">
            <h1>Internal Server Error x(</h1>
          </span>
          <div class="card-content center">
            We&#39;ve been notified about this issue and we&#39;ll take a look at it shortly.
            Please contact the system administrator.
          </div>
        </div>
        <div class="card-action center">
          <a class="waves-effect waves-light btn" href="<%= root_path %>">Back</a>
        </div>
      </div>
    </div>
  </div>
</div>